spring:
  application:
    name: api-gateway-web
  security:
    user:
      password: ${eureka.password}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://user:asdqwe123@localhost:8761}/eureka/
      registerWithEureka: false
      fetchRegistry: true
    healthcheck:
      enabled: true
server:
  port: 8080
zuul:
  ignored-services: '*'
  prefix: /api
  routes:
    tuk-management-service:
      path: /management/**
      serviceId: lsp-tuk-service
    acessor-management-service:
      path: /user/**
      serviceId: acessor-management-service
---
spring:
  profiles: heroku
eureka:
  instance:
    hostname: ${DOMAIN_NAME}
    nonSecurePort: 80
  password: ${USER_PASSWORD:password}




